@import "../../../commons.scss";

.products-component {
  .products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    // thumbnail layout
    &.thumbnail {
      border-width: 2rem;
      .product-component {

        @include breakpoint(mobileonly) {
          width: 100%;
        }

        @include breakpoint(phablet) {
          width: 13rem;
          margin: 0.5rem;
        }
      }
    }

    // list layout
    &.list {
      .product-component {
        width: 100%;
      }
    }
  }
}
