<div class="header">
  <ul class="header-container">
    <li class="header-title">
      <a routerLink="">
        Shop
      </a>
    </li>
    <!--<li class="header-notifications">-->
      <!--<notifications>-->
      <!--</notifications>-->
    <!--</li>-->
    <!--<li class="header-menu-toggle">-->
      <!--<button (click)="toggleMenu()">-->
        <!--Menu-->
      <!--</button>-->
    <!--</li>-->
    <!--<li class="header-collapsible"-->
        <!--[ngClass]="{visible: show.collapsible}">-->
      <!--<ul>-->
        <!--<li class="header-auctions">-->
          <!--<a routerLink="/auctions">-->
            <!--Auctions-->
          <!--</a>-->
        <!--</li>-->
        <!--<li class="header-separator"></li>-->
      <!--</ul>-->
    <!--</li>-->
    <li>
      <user-menu></user-menu>
    </li>
  </ul>
</div>