<div class="user-menu-overlay"
     (click)="toggleMenu()"
     [ngClass]="{visible: show}">
</div>
<div class="user-menu">
  <div class="user-menu-toggle"
       (click)="toggleMenu()">
    USER
  </div>
  <div class="user-menu-content"
       [ngClass]="{visible: show}">
    <ul *ngIf="!currentUser">
      <li>
        <h2>
          <a routerLink="/signup">
            Sign up
          </a>
        </h2>
      </li>
      <li>
        <h2>
          Log in
        </h2>
        <login (onLogin)="onLogin($event)"></login>
      </li>
    </ul>
    <ul *ngIf="currentUser">
      <li>
        <a routerLink="/my-bids">
          My bids
        </a>
      </li>
      <li>
        <a *ngIf="currentUser.role === 'admin'"
           routerLink="/new-product">
          Add new product
        </a>
      </li>
      <li>
        <a (click)="logout()">
          Logout
        </a>
      </li>
    </ul>
  </div>
</div>