@import "../../../commons.scss";

.user-menu {
  ul {
    list-style: none;
  }

  li {
    padding: 0.5rem;
  }
}

.user-menu-toggle {
  cursor: pointer;
}

.user-menu-overlay {
  background: #fff;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  transition: opacity 0.2s linear;
  transition-delay: 0.2s;
  visibility: hidden;
  width: 100%;
  z-index: 1;

  &.visible {
    opacity: 0.5;
    visibility: visible;
  }
}

.user-menu-content {
  background: #fff;
  height: 100%;
  padding-top: 2rem;
  position: absolute;
  right: 0;
  top: $header-height;
  transform: translateX(100%);
  transition: all 0.3s ease-out;
  width: 20rem;
  z-index: 2;

  &.visible {
    transform: translateX(0%);
  }
}