@import "../../../commons";

.new-product {
  .new-product-container {
    margin: 0 auto;
    max-width: 20rem;
    width: 100%;

    @include breakpoint('phablet') {
      width: 20rem;
    }
  }

  label, input, button, textarea {
    display: block;
    font-size: $font-size-regular;
    width: 100%;
  }

  input {
    margin: 0.5rem 0 2rem 0;
  }
}