<div class="product-container">
  <div class="product-data">
    <h2 class="product-title">
      <a>
        {{product?.name}}
      </a>
    </h2>
    <div class="product-price">
      {{product?.currentPrice}} €
    </div>
    <div class="bidder-container">
      <bidder [product]="product"
              [pending]="submittedBid"
              (onBidding)="bidding($event)">
      </bidder>
    </div>
    <div class="product-bids">
      {{product?.bids.length}} bids
    </div>
    <div class="product-deadline">
      <time-counter [deadline]="product.deadline">
      </time-counter>
    </div>
  </div>
  <img src="{{product.images}}"
       alt="{{product.name}} illustration"
       class="product-image">
  <div *ngIf="extended">
    <div class="product-description">
      {{product?.description}}
    </div>
  </div>
</div>