@import "../../../commons.scss";

.product-component {
  display: flex;
  flex-wrap: wrap;

  div {
    padding: 0.1rem 0;
  }

  .product-title {
    margin-bottom: 0.2rem;
    width: 100%;
  }

  .product-price {
    width: 30%;
  }

  .bidder-container {
    width: 70%;
  }

  .product-bids {
    font-size: $font-size-small;
    width: 50%;
  }

  .product-deadline {
    display: flex;
    font-size: $font-size-small;
    justify-content: flex-end;
    width: 50%;
  }

  .product-image {
    border: 1px solid $gray-lighter;
    width: 100%;
    height: 100%;
  }
}