@import "../../../commons.scss";

.landing {
  .landing-section {
    background: $brand-color;
    min-height: 10rem;

    &:nth-of-type(2) {
      background: $brand-color-light;
    }

    &:nth-of-type(3) {
      background: $brand-color-lighter;
    }
  }

  .landing-title {
    color: #fff;
    margin: 0;
    text-align: center;
  }
}