@import "./commons.scss";

html, body, #root {
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

body, h1, h2, h3 {
  font-weight: 300
}

a {
  color: white;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: $brand-color;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
